{% extends "layout.html" %}

{% block subnavigation %}
{% include 'subnavigation-configuration.html' %}
{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-md-12">

      <h3>Create Plain checklist:</h3>

      <form role="form" action="/configuration/checklist/plain/{{plain.id}}" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
	  <input type="text" class="form-control" name="name" placeholder="Enter name of checklist" value="{{plain.name}}" required>
        </div>

	<div class="form-group">
	  <label for="inputName">Description</label>
	  <textarea name="description" class="form-control" rows="5">{{plain.description}}</textarea>
	  <small>You can use HTML tags here</small>
	</div>

	<button type="submit" class="btn btn-default pull-right">Submit</button>
      </form>

    </div>
  </div>

{% endblock %}
