{% extends "layout.html" %}

{% block subnavigation %}
{% include 'subnavigation-configuration.html' %}
{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-md-12">

      <h3>Create new job or choose existing one:</h3>

      <form role="form" action="/configuration/checklist/jenkins_third_step/{{id}}" method="POST">
	<input type="hidden" name="name" value="{{name}}">
	<input type="hidden" name="url" value="{{url}}">
	<input type="hidden" name="login" value="{{login}}">
	<input type="hidden" name="password" value="{{password}}">

	<div class="radio">
	  <label>
	    <input type="radio" name="chooseJob" value="new" checked>
	    Create new job from scratch or edit current one
	  </label>
	</div>
        <div class="radio">
	  <label>
	    <input type="radio" name="chooseJob" value="existing">
	    Copy configuration from existing job on jenkins server
	  </label>
	</div>

        {% for j in jobs %}

        <div class="checkbox" style="padding-left: 40px">
	  <label><input type="radio" name="existingJob" value="{{j.name}}" {% if j.name == job: %}checked{% endif %}> {{j.name}}</label>
	</div>

        {% endfor %}

	<button type="submit" class="btn btn-default pull-right">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
